body {
    max-width: 100%;
    margin: 0;
    font-family: Nunito Sans;
    box-sizing: border-box;
}
.header__conteiner{
    margin: 0;
    display: flex;
    max-width: 100%;
    max-height: 83px;
    background-color: rgba(19, 19, 19, 1);
    font-family: Nunito Sans;
    padding-top: 24px;
    padding-bottom: 22px;
    align-items: center;
    justify-content: center;
}
.header__nav {
    display: flex;
    flex-direction: row;
    color: rgba(255, 255, 255, 1);
    padding-left: 92px;
    font-size: 11px;
}
.header__nav-tel {
    color: rgba(227, 184, 115, 1);
    padding-left: 67.36px;
}
.header__nav-ul {
    display: flex;
    flex-direction: row;
    gap: 47.09px;
    margin-left: 95.47px;
}
.header__nav-ul-li{
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}
.header__nav-ul-li :nth-child(1) {
    color: rgba(227, 184, 115, 1);
}
.header__nav-btn {
    border-radius: 2px;
    border: none;
    width: 161px;
    height: 37px;
    background-color: rgba(227, 184, 115, 1);
    color: rgba(255, 255, 255, 1);
    font-family: Nunito Sans;
    font-style: italic;
    font-size: 11px;
    line-height: 15px;
    font-weight: 400;
    margin-left: 45px;
    margin-right: 90px;
}
.main__background {
    background-image: url(../Images/backgraund.png);
    height: 707px;
    background-size: cover;
    position: relative;
}
.main__background-img {
    background-color: rgba(0, 0, 0, 0.7);
    height: 707px;
}
.main__background-img-container {
    display: flex;
    max-width: 515px;
    flex-direction: column;
    color: rgba(255, 255, 255, 1);
    font-family: Nunito Sans;
    padding-left: 134px;
    padding-top: 194px;
    gap: 19px;
}
.main__background-p {
    font-family: Yeseva One;
    font-size: 40px;
    line-height: 53.13px;
    
}
span {
    color:rgba(227, 184, 115, 1);
}
.main__background-h1 {
    font-weight: 400;
    font-size: 22px;
    line-height: 36.01px;
}
.main__background-button {
    margin-top: 41px;
}
.main__background-button :nth-child(1) {
    border-radius: 2px;
    width: 207px;
    height: 51px;
    background-color: rgba(227, 184, 115, 1);
    align-items: center;
    border: none;
    font-family: Nunito Sans;
    font-style: italic;
    font-size: 11px;
    line-height: 15px;
}
.main__background-button :nth-child(2) {
    border-radius: 2px;
    border: 1px solid;
    border-color: rgba(255, 255, 255, 1);
    width: 207px;
    height: 51px;
    align-items: center;
    font-family: Nunito Sans;
    font-style: italic;
    font-size: 11px;
    line-height: 15px;
    color: rgba(255, 255, 255, 1);
    background: none;
    margin-left: 20px;
}
.main__info {
    background-color: rgba(19, 19, 19, 1);
    height: 1074px;
}
.main__info-container {
    display: flex;
    flex-direction: row;
    color: rgba(255, 255, 255, 1);
}
.main__info-container-ul {
    display: flex;
    flex-direction: row;
    padding-top: 42px;
}
.main__info-container-left :nth-child(1){
    font-family: Yeseva One;
}
.main__info-container-left-ul-left :nth-child(2){
    font-family: Nunito Sans;
    padding-top: 9px;
}
.main__info-container-left-ul-left :nth-child(3) {
    font-family: Nunito Sans;
    padding-top: 9px;
}
.main__info-container-left-ul-right {
    margin-left: 29px;
}
.main__info-container-left {
    margin-left: 134.45px;
    padding-top: 176.36px;
}
.main__info-container-left-h1 {
    font-size: 27px;
    font-weight: 400;
    line-height: 37.42px;
    max-width: 253px;
}
.main__info-container-left-p {
    max-width: 442px;
    font-family: Nunito Sans;
    font-size: 14px;
    line-height: 26.73px;
    padding-top: 34px;
}
.main__info-container-left-ul-left-second {
    margin-top: 34px;
    width: 156px;
}
.main__info-container-left-ul-right :nth-child(2){
    font-family: Nunito Sans;
    padding-top: 9px;
}
.main__info-container-left-ul-right-second {
    margin-top: 60px;
}
.main__images-left{
    padding-top: 76.64px;
    
}
.main__info-container-right{
    padding-top: 107px;
    width: 679px;
    margin-left: 50px;
}
.main__info-container-right-h1 {
    display: flex;
    flex-direction: row;
    gap: 60.5px;
    font-family: Yeseva One;
    font-size: 14px;
    line-height: 19.4px;
    padding-left: 30px;
    color: rgba(255, 255, 255, 0.3);
}
.main__info-container-right-h1 :nth-child(1){
    border-bottom: 1px solid;
    padding-bottom: 7px;
}
.main__info-container-right-img{
    margin-top: 53.04px;
}
.section__online-control{
    display: flex;
    justify-content: center;
}
.main__video {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: -257.21px;
}

.main__video-play{
    position: absolute;
    justify-items: center;
    padding-top: 174px;
}
.main__input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main__input-h1 {
    font-family: Nunito Sans;
    color: rgba(54, 54, 54, 1);
    font-size: 18px;
    line-height: 36.83px;
    width: 681px;
    padding-top: 34.46px;
}
hr {
    display: flex;
    align-items: center;
}
.main__input-row{
    display: flex;
    gap: 49px;
    flex-direction: row;
    padding-top: 91.5px;
}
.main__input-first-colum {
    display: flex;
    flex-direction: column;
    font-family: Nunito Sans;
}
input {
    border: none;
    background: none;
    font-family: Nunito Sans;
    font-size: 14px;
    line-height: 22.92px;
    color: rgba(54, 54, 54, 1);
}
.input__name {
    border-bottom: 1px solid;
    border-color: rgba(54, 54, 54, 0.3);
    color: rgba(54, 54, 54, 1);
}
.label__name {
    font-family: Nunito Sans;
    font-size: 13px;
    line-height: 21.28px;
    color: rgba(54, 54, 54, 0.5);
}
.main-input-btn {
    border: none;
    width: 200px;
    height: 51px;
    background-color: rgba(227, 184, 115, 1);
    border-radius: 2px;
    font-family: Nunito Sans;
    font-weight: 400;
    font-size: 13px;
    line-height: 26.6px;
    align-items: center;
    color: rgba(255, 255, 255, 1);
}
.main__galochka {
    display: flex;
    flex-direction: row;
    padding-top: 35px;
    font-family: Nunito Sans;
    font-size: 14px;
    line-height: 22.92px;
}
.main__galochka :nth-child(2){
    padding-left: 8.62px;
}
.main__types {
    margin-top: 147.85px;
}
.main__room {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    padding-top: 31px;
}
.main__room-1-info {
    display: flex;
    background-color: rgba(255, 255, 255, 1);
    position: relative;
    width: 330px;
    height: 286px;
    flex-direction: column;
    margin-top: -130px;
    margin-left: 31px;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.03);
}
.main__room-1-info-button {
    border: none;
    background-color: rgba(227, 184, 115, 1);
    width: 228px;
    height: 54px;
    align-items: center;
    font-family: Yeseva One;
    font-size: 18px;
    line-height: 24.95px;
    color: rgba(255, 255, 255, 1);
    margin-left: 31px;
    margin-top: -27px;
    position: absolute;
    box-shadow:5px 5px 10px 0px rgba(227, 184, 115, 0.3);
}
.main__room-1-info-h1 {
    font-family: Yeseva One;
    font-size: 18px;
    line-height: 24.95px;
    color: rgba(54, 54, 54, 1);
    padding-top: 25px;
    padding-left: 34px;
}
.main__room-1-info-ul {
    display: list-item;
    list-style-type: disc;
    font-family: Nunito Sans;
    font-size: 13px;
    line-height: 26.6px;
    color: rgba(149, 149, 149, 1);
    margin-left: 50px;
    padding-top: 13px;
}
.main__input-background-left {
    display: flex;
    background-image: url(../Images/houses.png);
    margin-top: 124px;
    background-repeat: no-repeat;
}

.background-collor__orange {
    display: flex;
    align-items: center;
    max-width: 380.81px;
    gap: 17.05px;
    margin-left: 249px;
}
.background-collor {
    display: flex;
    margin-top: 117.14px;
    gap: 80px;
    flex-direction: column;
}
.white { 
    display: flex;
    border-radius: 30px;
    border: 8px;
    background-color: rgba(227, 184, 115, 1);
    width: 41.76px;
    height: 41.76px;
    align-items: center;
    justify-content: center;
    font-family: Yeseva One;
    font-size: 18px;
    line-height: 24.95px;
    color: rgba(255, 255, 255, 1);   
}
.background-collor__white {
    display: flex;
    border-radius: 30px;
    width: 60px;
    height: 60px;
    background-color: rgba(255, 255, 255, 1);
    justify-content: center;
    align-items: center;
}
.text {
    display: flex;
    font-family: Nunito Sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 19.1px;
    flex-wrap: wrap;
}
.background-collor-black {
    display: flex;
    background-color: rgba(19, 19, 19, 1);
    width: 506px;
    height: 509px;
    margin-top: 230px;
    margin-left: 150px;
    align-items: center;
    flex-direction: column;
}
.background-collor-black-p {
    width: 260px;
    height: 47px;
    margin-top: 28px; 
    font-family: Nunito Sans;
    font-size: 18px;
    line-height: 25.78px;
    color: rgba(255, 255, 255, 1);
}
.input__label {
    font-family: Nunito Sans;
    font-size: 13px;
    line-height: 21.28px;
    color: rgba(255, 255, 255, 0.5);
}
.input__color {
    border-bottom: 1px solid;
    border-color: rgba(255, 255, 255, 0.15);
    width: 408px;
}
.input__color ::placeholder { 
    color: #FFFFFF;
}

.main__input-background-right {
    gap: 7px;
    margin-top: 48px;
}
.main__input-background-right-click{
    display: flex;
    flex-direction: row;
    gap: 1.76px;
    margin-left: -130px;
    padding-top: 10px;
}
.main__input-background-right-click :nth-child(2) {
    font-family: Nunito Sans;
    font-size: 14px;
    line-height: 22.92px;
    color: rgba(255, 255, 255, 1);
}
.main__input-background-right-btn {
    background-color: rgba(227, 184, 115, 1);
    width: 213px;
    height: 51px;
    box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.15);
    color: rgba(255, 255, 255, 1);
    font-size: 13px;
    line-height: 21.28px;
    font-family: Nunito Sans;
    align-items: center;
    border: none;
    margin-top: 39px;
    margin-left: 200px;
}
.main__input-background-right-after {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 38.44px;
    margin-left: 50px;
}
.main__input-background-right-after :nth-child(2){
    font-family: Nunito Sans;
    font-size: 18px;
    line-height: 25.78px;
    width: 250px;
}
.main__background-room {
    display: flex;
    background-image: url(../Images/room_4.png);
    position: relative;
    background-repeat: no-repeat;
    margin-top: 242.09px;
}
.main__background-room-shadow {
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    height: 864px;
    position: relative;
}
.main__background-room-left-info {
    margin-top: 137.47px;
    margin-left: 99px;
}
.main__background-room-left-info :nth-child(1) {
    font-family: Yeseva One;
    font-size: 27px;
    line-height: 37.42px;
    width: 300px;
}
.main__left-info-ul {
    flex-direction: column;
    display: flex;
    font-family: Nunito Sans;
    font-weight: 400;
    font-size: 20px;
    line-height: 38.19px;
    color: rgba(255, 255, 255, 1);
    border: none;
    margin-top: 47px;
    gap: 10px;
}
.main__left-info-ul :nth-child(1){
    font-family: Nunito Sans;
    font-weight: 400;
    font-size: 20px;
    line-height: 38.19px;
    border-bottom: 1px solid;
    width: 150px;
    color: rgba(227, 184, 115, 1);
}
.main__background-room-img-center{
    margin-left: 190px;
}
.main__background-room-img-center :nth-child(1){
    margin-top: -40.53px;
}
.main__background-room-img-center :nth-child(2){
    margin-top: 39.53px;
}
.main__background-room-img-right {
    margin-left: -60px;
}
.main__background-room-img-right :nth-child(1){
    margin-top: -112.53px;
}
.main__background-room-img-right :nth-child(2){
    margin-top: 36.77px;
}
.main__hero {
    margin-top: 80px;
}
.main__hero-paragraph {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24.16px;
}
.main__hero-paragraph :nth-child(1){
    font-family: Yeseva One;
    font-size: 20px;
    line-height: 27.72px;

}
.main__hero-paragraph :nth-child(3){
    display: flex;
    font-family: Nunito Sans;
    font-size: 18px;
    line-height: 29.46px;
    width: 400px;
    text-align: center;
}
.main__hero-block {
    display: flex;
    flex-direction: row;
    gap: 54px;
    justify-content: center;
    margin-top: 39px;
}
.main__hero-backgound {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 1);
    width: 376px;
    height: 428px;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.04);
}
.main__hero-block-1 {
    display: flex;
    flex-direction: row;
    width: 260px;
    height: 76px;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    margin-left: 20px;
}
.main__hero-block-1 :nth-child(2) {
    font-family: Yeseva One;
    font-size: 18px;
    line-height: 22.87px;
    margin-left: 23px;
}
.main__hero-block-2 {
    font-family: Nunito Sans;
    font-weight: 400;
    font-size: 13px;
    line-height: 23.4px;
    color: rgba(149, 149, 149, 1);
    margin-left: 20px;
    margin-right: 31.92px;
    margin-top: 22px;
}
.main__hero-block-3 {
    display: flex;
    flex-direction: row;
    margin-top: 70px;
}
.main__hero-block-3-bottom-1 {
    display: flex;
    flex-direction: row;
    background-color: rgba(227, 184, 115, 1);
    width: 150px;
    height: 54px;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 20px 0px rgba(227, 184, 115, 0.5);
}
.main__hero-block-3-bottom-1 :nth-child(1){
    width: 32px;
    height: 32px;
}
.main__hero-block-3-bottom-1 :nth-child(2) {
    font-family: Yeseva One;
    font-size: 17px;
    line-height: 23.56px;
    color: rgba(255, 255, 255, 1);
    margin-left: 20px;
}
#main__hero-id {
    margin-left: 1px;
}
.main__footer {
    display: flex;
    background-image: url(../Images/home.png);
    width: 100%;
    height: 953.9px;
    margin-top: 500px;
}
.main__footer-background-black {
    display: flex;
    
    align-items: center;
    flex-direction: column;
    background-color: rgba(24, 24, 24, 0.9);
    width: 100%;
    height: 953.9px;
}
.main__footer-background-black-first {
    display: flex;
    background-color: rgba(24, 24, 24, 1);
    width: 883px;
    height: 445.32px;
    align-items: center;
    flex-direction: column;
    margin-top: -222.66px;
}
.main__footer-background-black-first-input {
    display: flex;
    flex-direction: row;
    gap: 57.99px;
}
.main__footer-background-black-first-h1 {
    margin-top: 34.4px;
    font-family: Yeseva One;
    font-size: 20px;
    line-height: 27.72px;
    color: rgba(255, 255, 255, 1);
}
.main__input-color {
    border-bottom: 1px solid;
    border-color: rgba(255, 255, 255, 0.15);
    width: 231px;
}
.main__input-color ::placeholder { 
    color: #FFFFFF;
}
.input__color-3 {
    border-bottom: 1px solid;
    border-color: rgba(255, 255, 255, 0.15);
    width: 520px;
}
.input__color-3 ::placeholder{
    color: #FFFFFF;
}
.main__footer-background-black-first-input {
    margin-top: 45.8px;
}
.main__footer-background-black-first-input-2 {
    margin-top: 48.76px;
}
.main__footer-background-black-first-input-3 {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    gap: 8.62px;
}
.main__footer-background-black-first-input-3 :nth-child(2) {
    font-family: Nunito Sans;
    font-size: 14px;
    line-height: 22.92px;
    color: rgba(255, 255, 255, 1);
}
.main__footer-background-black-first-button {
    width: 200px;
    height: 51px;
    background-color: rgba(227, 184, 115, 1);
    border: none;
    align-items: center;
    font-family: Nunito Sans;
    font-size: 13px;
    line-height: 26.6px;
    color: rgba(255, 255, 255, 1);
    margin-top: 50.45px;
}
.main__footer-background-black-info {
    width: 589px;
    height: 51px;
    margin-top: 52.01px;
}
.main__footer-background-black-info :nth-child(1){
    font-family: Yeseva One;
    font-size: 20px;
    line-height: 27.72px;
    text-align: center;
}
.main__footer-background-black-info-media {
    display: flex;
    gap: 15px;
    margin-top: 30px;
}
.main__footer-background-black-info-map {
    margin-top: 30px;
}
.header__conteiner-footer{
    margin: 0;
    display: flex;
    max-width: 100%;
    height: 133px;
    background-color: rgba(19, 19, 19, 1);
    font-family: Nunito Sans;
    padding-top: 24px;
    padding-bottom: 22px;
    align-items: center;
    justify-content: center;
}
.main__info-img{
    display: none;
}
.media_info {
    display: none;
}